<link rel="stylesheet" type="text/css" href="/site/stylesheets/book.css">
<main class="container">
  <div class="up">
      <img class="cover" src={{ image }} >
      <div class="details">
          <form>
              <div class="title">Name of the book: <strong>{{ name }}</strong></div>
              <div class="title">Author: <strong>{{ author }}</strong></div>
              <div class="title">Year of publishing: <strong>{{ year }}</strong></div>
              <div class="title">The publisher: <strong>{{publishing}}</strong></div>
              <div class="title">The price: <strong>${{price}}</strong></div>

              <input type="button" name="like" value="Like" class="button">
              <input type="button" name="buy" value="Buy" class="button">
          </form>
      </div>
  </div>
  <div class="down">
      {{description}}
  </div>
</main>

