<link rel="stylesheet" type="text/css" href="/site/stylesheets/book.css">
<main class="container">
  <div class="up">
      <img class="cover" src={{ image }} >
      <div class="details">
          <form>
              <div class="title">Name of the book: <strong>{{ name }}</strong></div>
              <div class="title">Author: <strong>{{ author }}</strong></div>
              <div class="title">Year of publishing: <strong>{{ year }}</strong></div>
              <div class="title">The publisher: <strong>{{publishing}}</strong></div>
              <div class="title">The price: <strong>${{price}}</strong></div>

              <div class="popup">
              {{#if liked}}
                <button type="button" name="like" class="button" onclick="likeBook()" id="like_button">&#9733;  Liked</button>
              {{else}}
                <button type="button" name="like" class="button" onclick="likeBook()" id="like_button">&#9734;  Like</button>
              {{/if}}
                  <span class="popuptext" id="message" onclick="hide()"></span>
              </div>
              {{#if bought}}
              <input type="button" name="download" value="Download" class="button" onclick="location.href = '/{{path}}';">
              {{else}}
              <input type="button" name="false" value="Add to cart" class="button" onclick="buyBook()">
              {{/if}}
          </form>
      </div>
  </div>
  <div class="down">
      {{description}}
  </div>
<script type="text/javascript">
  function hide() {
    console.log('in hide');
    const popup = document.getElementById("message");
    popup.innerHTML = "";
    popup.classList.toggle("show");
  }
  function likeBook() {
    console.log('in log');
    const id = {{ id }};
    const likeRequest = new XMLHttpRequest();
    likeRequest.open('POST', `/likebook/${id}`, true);
    likeRequest.send();
    likeRequest.addEventListener("load", (env) => {
      if (likeRequest.status === 404) {
        console.log('Bad request: return status code 404');
      } else {
        const message = likeRequest.response;
        console.log(likeRequest.status, message);
        if (likeRequest.status === 200) {
            const likedButton = document.getElementById('like_button');
            if (message === 'Added to your Liked Books') {
                likedButton.innerHTML = "&#9733;  Liked";
            } else if (message === 'Removed from your Liked Books') {
                likedButton.innerHTML = "&#9734;  Like";
            }
        }
        console.log(message);
        const popup = document.getElementById("message");
        popup.innerHTML = `${message}`;
        popup.classList.toggle("show");
      }
    });
  }
  {{#if bought}}
  function buyBook(argument) {
      const book = new XMLHttpRequest();
      book.responseType = 'blob';
      book.open('GET', '/downloadbook/{{id}}');
      book.send();
      book.addEventListener('load', res => {
        if (res.status !== 200) {
          console.log(`Error: ${res.status}`);
          console.log(res.response);
          return;
        }
        console.log('book downloaded');
        const file = new Blob(res.response, { type: 'application/pdf' });

        const a = document.createElement("a");
        a.style = "display: none";
        document.body.appendChild(a);
        let url = window.URL.createObjectURL(file);
        a.href = url;
        a.download = '{{name}}';
        a.click();
        window.URL.revokeObjectURL(url);
      });
  }
  {{else}}
  function buyBook() {
    console.log('buying a book...');
      const id = {{ id }};
      const buyRequest = new XMLHttpRequest();
      buyRequest.open('POST', `/buybook/${id}`, true);
      buyRequest.send();
      buyRequest.addEventListener("load", (env) => {
          if (buyRequest.status === 404) {
              console.log('Bad request: return status code 404');
          } else {
              const popup = document.getElementById("message");
              // popup.hidden = true;
              const message = buyRequest.response;
              console.log(message);
              popup.innerHTML = `${message}`;
              // popup.hidden = false;
              popup.classList.toggle("show");
          }
      });
  }
  {{/if}}
</script>
</main>
