<link rel="stylesheet" type="text/css" href="/site/stylesheets/book.css">
<main class="container">
  <div class="up">
      <img class="cover" src={{ image }} >
      <div class="details">
          <form>
              <div class="title">Name of the book: <strong>{{ name }}</strong></div>
              <div class="title">Author: <strong>{{ author }}</strong></div>
              <div class="title">Year of publishing: <strong>{{ year }}</strong></div>
              <div class="title">The publisher: <strong>{{publishing}}</strong></div>
              <div class="title">The price: <strong>${{price}}</strong></div>

              <div class="popup">
                <input type="button" name="like" value="Like" class="button" onclick="likeBook()">
                  <span class="popuptext" id="message" onclick="hide()"></span>
              </div>
              {{#if bought false}}
              <input type="button" name="buy" value="Buy" class="button" onclick="buyBook()">
              {{/if}}
              {{#if bought true}}
              <input type="button" name="download" value="Buy" class="button" onclick="buyBook()">
              {{/if}}
          </form>
      </div>
  </div>
  <div class="down">
      {{description}}
  </div>
<script type="text/javascript">
  function hide() {
    console.log('in hide');
    const popup = document.getElementById("message");
    popup.innerHTML = "";
    popup.classList.toggle("show");
  }
  function likeBook() {
    console.log('in log');
    const id = {{ id }};
    const likeRequest = new XMLHttpRequest();
    likeRequest.open('POST', `/likebook/${id}`, true);
    likeRequest.send();
    likeRequest.addEventListener("load", (env) => {
      if (likeRequest.status === 404) {
        console.log('Bad request: return status code 404');
      } else {
        const message = likeRequest.response;
        console.log(message);
        const popup = document.getElementById("message");
        popup.innerHTML = `${message}`;
        popup.classList.toggle("show");
      }
    });
  }
  function buyBook() {
    console.log('buying a book...');
      const id = {{ id }};
      const buyRequest = new XMLHttpRequest();
      buyRequest.open('POST', `/buybook/${id}`, true);
      buyRequest.send();
      buyRequest.addEventListener("load", (env) => {
          if (buyRequest.status === 404) {
              console.log('Bad request: return status code 404');
          } else {
              const popup = document.getElementById("message");
              // popup.hidden = true;
              const message = buyRequest.response;
              console.log(message);
              popup.innerHTML = `${message}`;
              // popup.hidden = false;
              popup.classList.toggle("show");
          }
      });
  }
</script>
</main>
