<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/account.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/chat_entry.css">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
<script>

    let chat_id;

    window.WebSocket = window.WebSocket || window.MozWebSocket;
    let connection = new WebSocket('ws://127.0.0.1:8080');

    connection.onopen = function () {
        connection.send(JSON.stringify({ title: 'history', time: new Date() }));
    };

    function addMessage(letter, message) {
        const content = document.getElementsByClassName('messages')[0];
        content.insertAdjacentHTML("afterBegin", '<div class="message-upcoming"><div class="picture">' +
                letter + '</div><div class="text-upcoming">' + message + '</div></div>');
        document.getElementById('input').value = '';
        connection.send(JSON.stringify({ title: 'message', chat_id: chat_id, author: {{username}}, message: message, time: new Date() }));
    }

</script>
<main>
    <div class="pagecontainer">
        <div class="navigationcontainer">
            <div class="navigation">
                <a href="/account">Account</a>
                <a href="/account/mybooks">My books</a>
                <a href="/account/addbook">Add book</a>
                <a href="/account/likedbooks">Liked books</a>
                <a href="/chat" style="background-color: grey;">Chat - demo</a>
                <a href="/logout">Log out</a>
            </div>
        </div>
        <div class="content">
            <h1 class="title">Chat with {{admin}}</h1>
            <div class="messages">
                <div class="message-incoming">
                    <div class="picture">{{letterAdmin}}</div>
                    <div class="text-incoming">Hello!</div>
                </div>
                <div class="message-upcoming">
                    <div class="picture">{{letterUser}}</div>
                    <div class="text-upcoming">Hello!</div>
                </div>
            </div>
            <form class="input_holder">
                <input type="text" class="input" id="input" placeholder="Start typing here...">
                <input type="button" class="submit" value="Send" onclick="addMessage({{letterUser}}, input.value);return false;">
            </form>
        </div>
    </div>
</main>
