<link rel="stylesheet" type="text/css" href="/site/stylesheets/book_page.css">
<main>
    <div class="book_description">
        <div class="image">
            <img src="source.jpg">
        </div>
        <div class="short_description">
            <div class="name"><p>Name:{{book.name}}</p></div>
            <div class="author"><p>Author:{{book.author}}</p></div>
            <div class="year"><p>Year:{{book.year}}</p></div>
            <div class="price"><p>Price:{{book.price}}</p></div>
        </div>
        <div class="text_description">
            <textarea>
                {{book.description}}
            </textarea>
        </div>
        <div class="preview">
            <img src="source.jpg">
        </div>
    </div>
</main>
